.header .Login input {
	font-weight: bold;
	border-radius: 5px;
	border: 1px #428bca solid;
	width: 80px;
	height: 33px;
	background: #fff;
}

.header .Login input:hover {
	background: #428bca;
	color: #fff;
}

.pro {
	margin-top: 10px;
	clear: both;
	overflow: hidden;
}

.pro h1 {
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #213242;
	line-height: 30px;
}

.pro h2 {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #999;
}

.menu ul {
	margin-top: 10px;
}

.intro_left img {
	width: 100%;
}

.intro_right_main h2 {
	font-size: 20px;
	color: #213242;
	padding-top: 30px;
}

.intro_right_main h3 {
	font-size: 16px;
	color: #999;
	line-height: 40px;
}

.intro_right_main h4 {
	margin-top: 20px;
}

.intro_right_main h4 input {
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	border: 1px #428bca solid;
	width: 100px;
	height: 33px;
	background: #428bca;
}

.intro_right_main dl {
	padding-top: 60px;
}

.intro_right_main dl dd {
	line-height: 50px;
	color: #999999;
	font-size: 14px;
	padding-left: 30px;
	background: url(../img/dot.png) left center no-repeat;
}

.newsBar {
	position: relative;
}

.newsBar img {
	width: 100%;
}

.scroll {
	width: 100%;
	position: relative;
}

.scroll dl dd {
	position: absolute;
	top: 0;
	width: 100%;
}

.icon {
	width: 100%;
	z-index: 2;
	position: absolute;
	bottom: 20px;
	text-align: center;
}

.icon span {
	border-radius: 15px;
	display: inline-block;
	height: 15px;
	width: 15px;
	background: #fff;
	margin: 0 5px;
}

.icon span.cur {
	background: #f00;
}

.time {
	position: absolute;
	top: 10px;
	left: 10px;
	border: 2px #fff solid;
	z-index: 3;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	color: #fff;
}

.newsTxt {
	width: 80%;
	margin: 0 auto;
}

.newsTxt h3 {
	color: #333;
	font-size: 20px;
	line-height: 40px;
}

.newsTxt p {
	line-height: 25px;
	font-size: 12px;
	color: #666;
}

.newsTime {
	margin: 15px 0;
	overflow: hidden;
}

.newsTime span {
	float: left;
	color: #666;
	font-size: 12px;
}

.newsTime a {
	float: right;
	color: #666;
	font-size: 12px;
}

.NewsMore {
	clear: both;
	width: 100%;
	text-align: center;
	height: 40px;
	margin-top: 40px;
}

.NewsMore a {
	color: #fff;
	font-size: 20px;
	border-radius: 20px;
	background: #428BCA;
	padding: 10px 20px;
}

.footer {
	width: 100%;
	background: #428BCA;
	overflow: hidden;
	margin-top: 60px;
}

.footer_nav {
	float: left;
	width: 70%;
	margin-top: 60px;
	margin-bottom: 30px;
}

.footer_nav dl {
	float: left;
	width: 48%;
	text-align: center;
	overflow: hidden;
	border-right: 1px #fff solid;
}

.footer_nav dl dt {
	line-height: 50px;
}

.footer_nav dl dt a {
	color: #fff;
	font-weight: bold;
}

.footer_nav dl dd {
	font-size: 12px;
	line-height: 24px;
}

.footer_nav dl dd a {
	color: #fff;
}

.footer_webChat {
	margin-top: 60px;
	text-align: center;
	width: 25%;
	float: left;
}

.foot {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #fff;
	color: #666;
	clear: both;
	text-align: center;
	font-size: 12px;
}

@media only screen and (min-width: 960px) {
	.header {
		height: 80px;
	}
	.header .logo {
		padding-top: 20px;
	}
	.header .Login {
		margin-top: 20px;
		position: relative;
	}
	.naver {
		float: left;
		margin-top: 20px;
		margin-left: 75px;
	}
	.naver ul li {
		float: left;
		line-height: 40px;
		margin: 0 20px;
		font-size: 14px;
	}
	.naver ul li a {
		color: #666;
		padding: 5px 10px;
	}
	.naver ul li a:hover {
		border-top: 2px #428bca solid;
		color: #428bca;
		font-weight: bold;
	}
	.loginBox {
		display: none;
		width: 140px;
		position: absolute;
		top: 23px;
		right: 80px;
		padding-top: 20px;
	}
	.loginBox ul {
		width: 100%;
		overflow: hidden;
		border: 1px #cccccc solid;
		background: #fff;
		border-radius: 5px;
	}
	.loginBox li {
		margin: 10px auto;
		width: 80%;
		height: 30px;
	}
	.loginBox li a {
		display: block;
		height: 100%;
		line-height: 30px;
		text-align: center;
		border-radius: 10px;
		border: 1px #428BCA solid;
	}
	.loginBox li a:hover {
		background: #428bca;
		color: #fff;
	}
	.pro {
		margin-top: 60px;
		clear: both;
		overflow: hidden;
	}
	.pro h1 {
		width: 100%;
		text-align: center;
		font-size: 36px;
		color: #213242;
		line-height: 60px;
	}
	.pro h2 {
		width: 100%;
		text-align: center;
		font-size: 20px;
		color: #999;
	}
	.menu ul li {
		float: left;
		width: 25%;
		text-align: center;
		margin: 20px 0;
		line-height: 30px;
	}
	.intro_left {
		float: left;
		width: 50%;
	}
	.intro_right {
		float: right;
		width: 50%;
	}
	.intro_right_main {
		padding-left: 10%;
		width: 60%;
	}
	.newsList ul li {
		width: 31%;
		float: left;
		border-bottom: 2px #428BCA solid;
		margin-top: 40px;
	}
	.newsList ul li.li2 {
		margin-left: 3%;
		margin-top: 0;
	}
	.newsList ul li.li3 {
		float: right;
	}
	.newsList ul li .newsBar {
		width: 100%;
	}
	@media only screen and (min-width: 960px) and (max-width: 1100px) {
		.wrap {
			width: 960px;
			margin: 0 auto;
		}
		.banner {
			width: 1920px;
			margin-left: -480px;
		}
		.intro {
			width: 1920px;
			margin-left: -480px;
			background: #f7f7f7;
			overflow: hidden;
			margin-top: 30px;
		}
		.newsList {
			width: 960px;
			margin: 0 auto;
			overflow: hidden;
		}
		.scroll{
			height: 238px;
		}
	}
	@media only screen and (min-width: 1100px) {
		.wrap {
			width: 1100px;
			margin: 0 auto;
		}
		.banner {
			width: 1920px;
			margin-left: -410px;
		}
		.intro {
			width: 1920px;
			margin-left: -410px;
			background: #f7f7f7;
			overflow: hidden;
			margin-top: 30px;
		}
		.newsList {
			width: 1100px;
			margin: 0 auto;
			overflow: hidden;
		}
		.scroll{
			height: 268px;
		}
	}
}

@media only screen and (max-width: 960px) {
	.wrap {
		width: 100%;
	}
	.header {
		height: auto;
	}
	.header .logo {
		padding-top: 20px;
		margin-left: 10px;
	}
	.header .Login {
		margin-top: 20px;
		position: relative;
		margin-right: 10px;
	}
	.naver {
		clear: both;
		width: 100%;
		position: relative;
		top: 12px;
	}
	.naver ul li {
		line-height: 40px;
		width: 100%;
		font-size: 14px;
		text-align: center;
		border-bottom: 1px #ccc solid;
		background: #f7f7f7;
	}
	.naver ul li a {
		color: #666;
		padding: 5px 10px;
		display: block;
		width: 100%;
	}
	.loginBox {
		display: none;
		width: 100%;
		position: fixed;
		top: 0px;
		left: 0;
		height: 100%;
		z-index: 1;
	}
	.loginBox ul {
		width: 40%;
		margin: 0 auto;
		overflow: hidden;
		border: 1px #cccccc solid;
		background: #fff;
		border-radius: 5px;
		margin-top: 40%;
		position: relative;
		z-index: 1;
	}
	.shadown {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		opacity: 0.7;
	}
	.loginBox li {
		margin: 10px auto;
		width: 80%;
		height: 30px;
	}
	.loginBox li a {
		display: block;
		height: 100%;
		line-height: 30px;
		text-align: center;
		border-radius: 10px;
		border: 1px #428BCA solid;
	}
	.loginBox li a:hover {
		background: #428bca;
		color: #fff;
	}
	.banner {
		width: 100%;
	}
	.banner img {
		width: 100%;
	}
	.pro {
		margin-top: 10px;
		clear: both;
		overflow: hidden;
	}
	.pro h1 {
		width: 100%;
		text-align: center;
		font-size: 20px;
		color: #213242;
		line-height: 30px;
	}
	.pro h2 {
		width: 100%;
		text-align: center;
		font-size: 16px;
		color: #999;
	}
	.menu ul li {
		float: left;
		width: 50%;
		text-align: center;
		margin: 20px 0;
		line-height: 30px;
	}
	.intro {
		width: 100%;
		background: #f7f7f7;
		overflow: hidden;
		margin-top: 30px;
	}
	.intro_right_main {
		padding-left: 5%;
		width: 90%;
	}
	.newsList {
		width: 95%;
		margin: 0 auto;
		overflow: hidden;
	}
	.newsList ul li {
		width: 100%;
		border-bottom: 2px #428BCA solid;
		margin-top: 40px;
	}
	.newsList ul li .newsBar {
		width: 100%;
	}
	.scroll{
		height:calc(100vw *0.96*334/438);
	}
}